
    <div class="col-md-12">
      <div class="row box">
        <div class="box-inner col-md-6 col-md-offset-3">

    <h1 class="title">来自涴然别院的工作邀请</h1>
      <h4 class="subtitle">晋江·五店市</h4>
    <p class="slogan">
      在海上丝路的起点，
    <br>
    开启一个新的世界。
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">接受邀请</a></p>
   </div>
   </div>
   </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">关于涴然别院</h2>
         <p class="lead">涴然别院，
           <br>
           位于晋江五店市中心，
           <br>
           于1957年由侨胞苏孙江先生所建。
           <br>
           占地700平，是五店市最具南洋风格的老别墅。
           <br>
           现已改造成当地唯一别墅品质民宿，
           <br>
           拥有14个客房，和一间南洋餐厅。
         </p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">关于晋江·五店市</h2>
         <p class="lead">西晋年间，五胡乱华。
           <br>
           中原士族为避战乱，
           <br>
           南渡入闽，沿江而居。
           <br>
           晋江以此得名。
           <br>
           时至盛唐，天下大治。
           <br>
           海上丝绸航路，由晋江而起。
           <br>五店市，位于晋江老城核心区，
           <br>集中保留了132栋古老建筑，
           <br>也是闽南最大的红砖古厝群落。

       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
